/*layout*/
body{
    background-image: url(../imagens/capa.png),
                    url(../imagens/ruido.png),
                    linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
}
/*barra de navegação*/
.navbar-transparente{
    background: rgba(0, 0,0, 0.6);
}
nav.navbar-light .navbar-nav .nav-link{
    color:white;
}

