/*layout*/
html,body,#home{
    height: 100%;
}
body{
    background-image: url(../imagens/capa.png),
                    url(../imagens/ruido.png),
                    linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Helvetica,Arial,sans-serif;
}
/*barra de navegação*/
.navbar-transparente{
    background: rgba(0, 0,0, 0.6);
}
nav.navbar-light .navbar-nav .nav-link{
    color:white;
}
nav.navbar-light .navbar-nav .nav-link:hover{
    color: #9bf0e1;
}
nav.navbar-light .navbar-toggler{
    color: rgba(225,225,225,.5);
    border-color: rgba(225,225,225,0.5);
}
.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}
.capa{
    text-align: center;
}
/* EStrutura do conteúdo*/
#servicos{
    background: #fff;
    padding-top: 20px ;
    padding-bottom: 20px;
}
.albuns{
    padding: 10px 0px;
}
#servicos h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #7c25f8;

}
#servicos h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #7c25f8;

}
/*tipografia*/
#home h1{
    font-weight: 900;
    letter-spacing: -0.06em;
    margin-bottom: 50px;
    color: #fff;
    
    
}
 #home .btn-custom{
    color: #fff;
    border-radius: 500px;
    -webkit-border-radius:500px;
    -moz-border-radiud:500px;
    text-transform: uppercase;
    
    
    
    padding: 10px 15px;
    
}
#home .btn-roxo{
    background:#7c25f8;
    color: #000;
}
#home .btn-roxo:hover{
    background: #fff;
    color:#7c25f8;
}


#home .btn-branco{
    border: 1px solid white;

}

#home .btn-branco:hover{
    background: #fff;
    color: #000;

}

@media (max-width: 575.98px) { 
    #home .btn-custom{
        margin: 10px 15px;
    }
 

 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    #home h1{
        font-size: 3em;
    }
    #home .btn-custom{
        margin: 10px 15px;
    }

 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    #home h1{
        font-size: 4em;
    }
    
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    #home h1{
        font-size: 5em;
    }

}


@media (min-width: 1200px) {
    #home h1{
        font-size: 6em;
    } 

 }


